header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Jost";
    padding-bottom: 15px;
}

.outer {
    display: flex;
    justify-content: center;
}
.grid-container {
    display: grid;
    height: 30em;
    width: 30em;
}

.controls-container {
    display: flex;
    flex-direction: row;
    font-family: "Jost";
    justify-content: center;
    padding-bottom: 30px;
}